* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    background-color: #5c4d4d;
    color: #f2f1e7;
    display: block;
    text-align: center;
}

.cards-container{
    background-color:  #5c4d4d;;
    background-size: cover;
    box-sizing: border-box;
    width:  fit-content; 
    max-height: 80vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 33% 33% 33%;
    grid-gap: 20px; /* Referenced the video in reference 1 */
    padding-top: 15px;  
    margin: auto;
    align-content: center;
    position: relative;
    justify-content: center;
    justify-self: center;
 }

.cards{
    width: 225px;
    height: 225px;
    margin: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(./Images/daniel-dan-CWHZxcjDlpk-unsplash.jpg);
    border-style: groove;
    border-width: 5px;
    justify-self: center;
}

.unmatched{
    z-index: 1;
    display: none;
    display: hidden;

}
img {
    height: 225px;
    width: 225px;
    justify-content: center;
    display: inline;
    visibility: hidden;
    border-color: beige;
    border-width: 10px;
}

.active{
    z-index: 1;
    display: inline;
    visibility: visible;
}

.matched{
    z-index: 1;
    display: inline;
    visibility: visible;
}


.bold-text{
    font-size: x-large;
    color: #66bfbf;
    font-style: oblique;
}

#name-input{
    font-size: large;
    font-style: oblique;
    text-align: center;  
}

#welcome-container{
    display: block;
    width: 50vw;
    padding: 5px;
    position: absolute; /* Reviewed the documentation in reference 2*/
    top: 17%; /* Reviewed the documentation in reference 2*/
    right: 25%;/* Reviewed the documentation in reference 2*/
    margin: 5px;
}


#instructions{
    display: none;
    width: 50vw;
    padding: 5px;
    margin: 5px;
    position: absolute;/* Reviewed the documentation in reference 2*/
    top: 15%;/* Reviewed the documentation in reference 2*/
    right: 25%;/* Reviewed the documentation in reference 2*/
}

.gameButtons{ /* Referenced the video in reference 1 */
    padding: 5px;
    border-radius: 10px 10px;
    color: #f6eedf;
    background-color: #085f63;
    font-size: large;
}

.attempts_left{
    font-size: x-large;
    padding-top: 10px;
    color: #fdb44b;
}

.letsgo-btn{
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px 10px;
    color: #f6eedf;
    background-color: #085f63;
    font-size: large;
}

.playgame-btn{
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px 10px;
    color: #f6eedf;
    background-color: #085f63;
    font-size: large;
}

.heading{
    padding: 100px;
}

input{
    margin: 20px;
}

/* References:
1. Watched the video in https://www.youtube.com/watch?v=xWdkt6KSirw  
2. Reviewed the documentation in https://www.w3schools.com/howto/howto_css_center-vertical.asp */