* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    background-color: #5c4d4d;
    color: #f2f1e7;
    display: block;
    text-align: center;

   
}

.cards-container{
    background-color:  #5c4d4d;;
    background-size: cover;
    width:  80vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3;
    gap: 60px;
    margin: 30px auto;
    align-content: center;
    position: relative;
    justify-content: center;
    justify-self: center;
 }

.cards{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(./Images/daniel-dan-CWHZxcjDlpk-unsplash.jpg);
    border-style: groove;
    border-width: 5px;
    justify-self: center;
    box-sizing: border-box
}

.unmatched{
    z-index: 1;
    display: none;
    display: hidden;

}
img {
    height: 225px;
    width: 225px;
    display: inline;
    visibility: hidden;
    border-style: solid;
    border-style: groove;
    border-color: beige;
    border-width: 10px;
}

.active{
    z-index: 1;
    display: inline;
    visibility: visible;
}

.matched{
    z-index: 1;
    display: inline;
    visibility: visible;
}


