* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card-uo{
    align-items: stretch;
    align-content: center;
    width: 50px;
    height: 100px;
    display: block;
    background-color: blueviolet;
}

.card-down{
    align-items: stretch;
    align-content: center;
    width: 50px;
    height: 100px;
    background-color: black;
}

.cards-container{
   background-color: aqua;
}